
// -------- override less var -----------

.ant-layout-header {
    height: 65px;
    padding: 0 50px;
    line-height: 65px;
    background-color: #2196f3;
    color: #fff;
    box-shadow: 5px 0 10px rgba(0,0,0,.5);

    .ant-menu {
        background-color: #2196f3;
        color: #fff;
        line-height: 65px;
        font-weight: 600;

        .ant-menu-item {
            color: rgb(255, 255, 255);
        }
    }
}

.ant-layout-sider{
    background-color: #222f3c !important;
    color: #fff;

    .ant-menu {
        background-color: #222f3c !important;
        color: #fff;

        .ant-menu-submenu-active > .ant-menu-submenu-title,
        .ant-menu-submenu-open > .ant-menu-submenu-title {
            background: #2196f3 !important;
            color: #222f3c;
        }

        .ant-menu-item-selected {
            background: #2196f3 !important;
            color: #222f3c;
        }
    }
}

.ant-layout-sider-trigger {
    background: #222f3c !important;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
    background: #222f3c !important;
}

// .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
//     background-color: #222f3c !important;
//   }