

:host /deep/ {
	.logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 28px 16px 0;
        float: left;
    }
    
    .ant-layout-sider-children {
        width: inherit;
    }
    
    .left-side {
        position: fixed;
        width: inherit;
    }
    
    perfect-scrollbar {
        height: 100%;
        max-height: calc(100vh - 120px)!important;
    }
}